  * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Poppins, Arial, Helvetica, sans-serif;
            color: #333;
        }


        /* sections-bg */

   .section-bg {
  max-width: 100vw;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  color: white;
  background: #fdf6ec;
  padding: 20px;
}

.products-sec {
  height: 100%;
}

.section-bg:nth-child(odd) {
  background: #fdf6ec;
}

   
/* CONTACT CARDS */
/* .contact-section {
      padding: 80px 0;
      background-color: #0f0f0f;
    }

    .section-header {
      text-align: center;
      margin-bottom: 48px;
    }

    .section-title {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 12px;
      background: linear-gradient(to right, #8b5cf6, #ec4899);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

    .section-description {
      font-size: 16px;
      color: #64748b;
      max-width: 700px;
      margin: 0 auto;
      line-height: 1.8;
    }

    .section-divider {
      width: 96px;
      height: 4px;
      background: linear-gradient(to right, #8b5cf6, #ec4899);
      border-radius: 2px;
      margin: 16px auto 10px;
    } */

    /* Contact Grid */
    .contact-grid {
     display: flex;
     justify-content: center;
     align-items: center;
      gap: 50px;
      margin-top: 48px;
    
    }

    /* Contact Info */
    .contact-info {
      display: flex;
      flex-direction: row;
      gap: 32px;
    }

    .info-card {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 10px;
      align-items: center;
      background-color: white;
      width: 350px;
      height: 200px;
      box-shadow: 5px 3px rgba(0, 0, 0, 0.123);
      border-radius: 10px;

    }

    .info-icon {
      width: 48px;
      height: 48px;
      background: linear-gradient(135deg, rgb(32, 68, 32), #a0c7a3);
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: black;
      flex-shrink: 0;
    }

    .info-content h3 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 4px;
      color: black;
      text-align: center;
    }

    .info-content p {
      font-size: 14px;
      color: black;
      line-height: 1.6;
      text-align: center;
    }

    .info-content a {
      color: #574216;
      text-decoration: none;
      transition: 0.3s;
    }

    .info-content a:hover {
      color: #574216;
    }

/* about */

.about-cards{
display: flex;
align-items: center;
justify-content: center;
gap: 20px;

}

.Acards{
   display: flex;
      flex-direction: column;
      padding: 10px;
      align-items: center;
      background-color: white;
      max-width: 500px;
      max-height: 400px;
      width: 500px;
      height: 400px;
      box-shadow: 5px 3px rgba(0, 0, 0, 0.123);
      border-radius: 10px;
}

.about-logo{
  width:100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.about-text-content{
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
