/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  
  color: rgb(var(--bs-tertiary-color-rgb));
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 1rem;
  z-index: 10;
  color: black;
  font-weight: 900;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 40rem;
  border: solid white 20px;
  padding-left: 25px;
  padding-right: 25px;
}

label {
  font-size: 25px;
  font-weight: 900;
}